<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App4"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdj5-qiFyxzg19l13JzDN-oSNFxVNDpvw" />

        <activity
            android:name=".others.launch_screen"
            android:exported="true"
            android:label="@string/launch_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".others.sign_up"
            android:exported="true"
            android:label="@string/sign_up">
        </activity>
        <activity
            android:name=".others.sign_in"
            android:exported="true"
            android:label="@string/sign_in">
        </activity>
        <activity
            android:name=".aatest"
            android:exported="true"
            android:label="@string/sign_in">
        </activity>
        <activity
            android:name=".atest"
            android:exported="true"
            android:label="@string/sign_in">
        </activity>
        <activity
            android:name=".homee"
            android:exported="true"
            android:label="@string/home">
        </activity>
        <activity
            android:name=".garage_services.garage_services"
            android:exported="true"
            android:label="@string/garage_services">
        </activity>
        <activity
            android:name=".others.list_requests"
            android:exported="true"
            android:label="@string/list_requests">
        </activity>
        <activity
            android:name=".others.profile"
            android:exported="true"
            android:label="@string/profile">
        </activity>
        <activity
            android:name=".others.help_center"
            android:exported="true"
            android:label="@string/Help_center">
        </activity>
        <activity
            android:name=".others.home"
            android:exported="true"
            android:label="@string/home">
        </activity>
        <activity
            android:name=".mechanic_services.find_mechanic"
            android:exported="true"
            android:label="@string/garage_services">
        </activity>
        <activity
            android:name=".tow_services.find_towtruck"
            android:exported="true"
            android:label="@string/list_requests">
        </activity>
        <activity
            android:name=".oil_fuel_services.find_oil"
            android:exported="true"
            android:label="@string/profile">
        </activity>
        <activity
            android:name=".oil_fuel_services.find_fuel"
            android:exported="true"
            android:label="@string/Help_center">
        </activity>
        <activity
            android:name=".team_services.find_team"
            android:exported="true"
            android:label="@string/home">
        </activity>
        <activity
            android:name=".garage_services.find_garage"
            android:exported="true"
            android:label="@string/home">
        </activity>
    </application>

</manifest>